//字体颜色
$color-primary: #2D82F0; //罗氏 默认
$color-roche: #2D82F0; //罗氏
$color-lilly: #D7290F; //礼来
$color-merck: #512E94; //默克
$color-msd: #21BDB0; //默沙东
$color-dsm: #00A16D; //住友
$color-pfizer: #E60012; //辉瑞
$color-allergan: #1E90FF; //艾尔建
$color-abbvie: #071d49; //艾伯维
$color-supplier: #3875FE; //供应商端
$color-operation: #3875FE; //运营端--弃用
$color-eventcoolop: #4479F1; //运营--启用

