$white: #fff !default;
$black: #000 !default;
$lighterGray: #eee !default;
$lightGray: #ccc !default;
$neutralGray: #aaa !default;
$gray: #999 !default;
$darkGray: #666 !default;
$dark2Gray: #595664 !default;
$darkerGray: #333 !default;
$red: #ff0000 !default;
$orangeRed: #ff6600 !default;
$blue: #2D82F0 !default;
$whiteblue: #bfd5ff !default;
$green: #009900 !default;
$orangeYellow: #ffb54c !default;
$purple: #e560cd !default;
$vermilion: #ff4124 !default;

//颜色定义规范
$background-color-lilly: #d7290f;//背景主题颜色默认
$background-color-roche: #2D82F0;//背景主题颜色1
$background-color-novartis: #0099FF;//背景主题颜色1
$background-color-msd: #21bdb0;//背景主题颜色1
$background-color-dsm: #00A16D;//背景主题颜色1
$background-color-pfizer: #E60012;//背景主题颜色1

$font-color-lilly : #d7290f;//字体主题颜色默认
$font-color-roche : #2D82F0;//字体主题颜色1
$font-color-novartis : #0099FF;//字体次要主题颜色
$font-color-msd : #21bdb0;//字体次要主题颜色
$font-color-dsm : #00A16D;//字体次要主题颜色
$font-color-pfizer : #E60012;//字体次要主题颜色

$border-bottom-lilly : #d7290f;//字体主题颜色默认
$border-bottom-roche : #2D82F0;//字体主题颜色1
$border-bottom-novartis : #0099FF;//字体主题颜色1
$border-bottom-msd : #21bdb0;//字体主题颜色1
$border-bottom-dsm : #00A16D;//字体主题颜色1
$border-bottom-pfizer : #E60012;//字体主题颜色1

$border-lilly : #d7290f;//字体主题颜色默认
$border-roche : #2D82F0;//字体主题颜色1
$border-novartis : #0099FF;//字体主题颜色1
$border-msd : #21bdb0;//字体主题颜色1
$border-dsm : #00A16D;//字体主题颜色1
$border-pfizer : #E60012;//字体主题颜色1

$box-shadow-lilly : #d7290f;//字体主题颜色默认
$box-shadow-roche : #2D82F0;//字体主题颜色1
$box-shadow-novartis : #0099FF;//字体主题颜色1
$box-shadow-msd : #21bdb0;//字体主题颜色1
$box-shadow-dsm : #00A16D;//字体主题颜色1
$box-shadow-pfizer : #E60012;//字体主题颜色1

$font-color2-lilly : #fff;//字体主题颜色默认
$font-color2-roche : #fff;//字体主题颜色1
$font-color2-novartis : #fff;//字体主题颜色1
$font-color2-msd : #fff;//字体主题颜色1
$font-color2-dsm : #fff;//字体主题颜色1
$font-color2-pfizer : #fff;//字体主题颜色1

$background-color2-lilly: #e9371c;//背景主题颜色默认
$background-color2-roche: #2f91fb;//背景主题颜色1
$background-color2-novartis: #2f91fb;//背景主题颜色1
$background-color2-msd: #3bcabe;//背景主题颜色1
$background-color2-dsm: #15ad7c;//背景主题颜色1
$background-color2-pfizer: #f0626d;//背景主题颜色1

$background-color3-lilly: #fee0e0;//背景主题颜色默认
$background-color3-roche: #e8edfc;//背景主题颜色1
$background-color3-novartis: #e8edfc;//背景主题颜色1
$background-color3-msd: #e8edfc;//背景主题颜色1
$background-color3-dsm: #e8edfc;//背景主题颜色1
$background-color3-pfizer: #e8edfc;//背景主题颜色1
