// 全局色值
$white: #fff !default;
$lighterGray: #eee !default;
$lightGray: #ccc !default;
$neutralGray: #aaa !default;
$gray: #999 !default;
$darkGray: #666 !default;
$darkerGray: #333 !default;
$red: #ff0000 !default;
$orangeRed: #ff6600 !default;
$blue: #0099ff !default;
$green: #009900 !default;
$orangeYellow: #ff9f00 !default;
$purple: #e560cd !default;
$vermilion: #ff4124 !default;

//
